<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="form-container">

    <h2>Admin Login</h2>

    <form method="POST">

        <input class="form-control" type="text" name="username" placeholder="Username" required>

        <input class="form-control" type="password" name="password" placeholder="Password" required>

        <button class="form-btn" type="submit">Login</button>

    </form>

</div>

</body>
</html>