<!DOCTYPE html>
<html>
<head>

<title>Manage Orders</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="admin-navbar">

    <div class="logo">
        👟 StepStyle Admin
    </div>

    <div class="nav-links">
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/add_product">Products</a>
        <a href="/admin/orders">Orders</a>
    </div>

</div>

<div class="container">

<h1>📦 Customer Orders</h1>

<table class="admin-table">

<tr>
<th>Customer</th>
<th>Status</th>
<th>Actions</th>
</tr>

{% for order in orders %}

<tr>

<td>{{ order.customer }}</td>

<td>

{% if order.status == "Accepted" %}
<span class="accepted">Accepted</span>

{% elif order.status == "Rejected" %}
<span class="rejected">Rejected</span>

{% else %}
<span class="pending">Pending</span>
{% endif %}

</td>

<td>

<a href="/admin/accept/{{ order._id }}"
class="accept-btn">
Accept
</a>

<a href="/admin/reject/{{ order._id }}"
class="reject-btn">
Reject
</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>