  <!DOCTYPE html>
<html>
<head>
    <title>Products</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<div class="navbar">
    <div class="logo">E-Shop</div>

    <div class="nav-links">
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/orders">Orders</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

    <form action="/search" method="GET" class="premium-search">

    <input
        type="text"
        name="keyword"
        placeholder="Search Nike, Adidas, Puma..."
    >

    <button type="submit">
        Search
    </button>

</form>


<h2 class="section-title">
    Available Products ({{ products|length }})
</h2>

<div class="products-grid">

{% for p in products %}

<div class="card">

    <img src="{{ p.image }}" alt="{{ p.name }}">

    <div class="card-body">

        <span class="badge">
            {{ p.brand }}
        </span>

        <h3>{{ p.name }}</h3>

        <div class="rating">
            ⭐ {{ p.rating }}
        </div>

        <div class="price">
            ₹{{ p.price }}
        </div>

        <div class="stock">
            Stock: {{ p.stock }}
        </div>

        <a class="card-btn" href="/add_cart/{{ p._id }}">
            🛒 Add To Cart
        </a>

    </div>

</div>

{% endfor %}

</div>
</body>
</html> 